<!-- Main jumbotron for a primary marketing message or call to action -->
#jumbotron-gap.jumbotron.jumbotron-fluid
		h1 Shop Smart, Save Big!
		p Starting point to create something more unique
		p
			a(href="/signup"
				class="btn btn-primary btn-lg"
				role="button") Signup &raquo;
	
