/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 100px;
  padding-bottom: 20px;
}

#jumbotron-gap {
  margin-top: -50px;
}

a.product-category {
  text-decoration: none;
  color: #333;
}

a.product-category:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.product-img {
  max-width: 100%;
}

footer {
  padding-top: 50px;
}
